# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.astro/
.sanity/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
coverage/

# Environment variables
.env
.env.production
.env.local
.env.development
.env.test

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Sanity
.sanity/

# Misc
*.pem
